/* Add all your styles here */
body{
  font-family: Arial;
  background-color: #f2f2f2;
  padding: 20px;
}
.container{
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  max-width: 400PX;
  margin: auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.1)
}